RoutingServer/Connected Services/ProxyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proxy" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GeocodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Display_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeocodeResponse" nillable="true" type="tns:GeocodeResponse" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="Available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="Contract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:simpleType name="TravelMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Walking" />
      <xs:enumeration value="Biking" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TravelMode" nillable="true" type="tns:TravelMode" />
  <xs:complexType name="Itinerary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="tns:ArrayOfPosition" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Steps" nillable="true" type="tns:ArrayOfStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Itinerary" nillable="true" type="tns:Itinerary" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
  <xs:complexType name="ArrayOfStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStep" nillable="true" type="tns:ArrayOfStep" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
</xs:schema>