RoutingServer/Connected Services/ProxyService/Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Proxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proxy" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxy_GetCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinates" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_CalculateDistance_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDistance" />
  </wsdl:message>
  <wsdl:message name="IProxy_CalculateDistance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDistanceResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_FindClosestStation_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStation" />
  </wsdl:message>
  <wsdl:message name="IProxy_FindClosestStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStationResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetContractByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByCity" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetContractByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContracts" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItinerary" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetFullItineraryInCaseOfBike_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullItineraryInCaseOfBike" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetFullItineraryInCaseOfBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullItineraryInCaseOfBikeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxy">
    <wsdl:operation name="GetCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetCoordinates" message="tns:IProxy_GetCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetCoordinatesResponse" message="tns:IProxy_GetCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateDistance">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/CalculateDistance" message="tns:IProxy_CalculateDistance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/CalculateDistanceResponse" message="tns:IProxy_CalculateDistance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClosestStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/FindClosestStation" message="tns:IProxy_FindClosestStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/FindClosestStationResponse" message="tns:IProxy_FindClosestStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetContractByCity" message="tns:IProxy_GetContractByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetContractByCityResponse" message="tns:IProxy_GetContractByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetContracts" message="tns:IProxy_GetContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetContractsResponse" message="tns:IProxy_GetContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetStations" message="tns:IProxy_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetStationsResponse" message="tns:IProxy_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetItinerary" message="tns:IProxy_GetItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetItineraryResponse" message="tns:IProxy_GetItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFullItineraryInCaseOfBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetFullItineraryInCaseOfBike" message="tns:IProxy_GetFullItineraryInCaseOfBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetFullItineraryInCaseOfBikeResponse" message="tns:IProxy_GetFullItineraryInCaseOfBike_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxy" type="tns:IProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoordinates">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateDistance">
      <soap:operation soapAction="http://tempuri.org/IProxy/CalculateDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClosestStation">
      <soap:operation soapAction="http://tempuri.org/IProxy/FindClosestStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractByCity">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetContractByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItinerary">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullItineraryInCaseOfBike">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetFullItineraryInCaseOfBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="BasicHttpBinding_IProxy" binding="tns:BasicHttpBinding_IProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Proxy/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>